{% extends "base.html" %}

{% block title %}LOGIN{% endblock %}

{% block page_css %}
<link
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    rel="stylesheet"
>
<link
    href="{{ url_for('static', filename='css/login.css')}}"
    rel="stylesheet"
>
{% endblock %}

{% block page_content %}
<div class="container center-flex">
    <div class="login-card py-4 px-4">
        <form method="post" class="login-form">
            <div class="title horizontal-flex mb-1">
                <h2>SIGN IN</h2>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="mb-2 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>
            <div class="mb-2 horizontal-flex">
                <a href="{{ url_for('auth.register') }}">If you don't have an account, please register.</a>
            </div>
            <div class="horizontal-flex">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
