{% extends "base.html" %}

{% block title %}REGISTER{% endblock %}

{% block page_css %}
<link
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    rel="stylesheet"
>
<link
    href="{{ url_for('static', filename='css/login.css')}}"
    rel="stylesheet"
>
{% endblock %}

{% block page_content %}
<div class="container center-flex">
    <div class="login-card py-4 px-4">
        <form method="post" class="login-form">
            <div class="title horizontal-flex mb-1">
                <h2>REGISTER</h2>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="password_verif" name="password_verif" placeholder="Password verification">
                <label for="password_verif">Password verification</label>
            </div>
            <div class="mb-2 horizontal-flex">
                <a href="{{ url_for('auth.login') }}">If you already have an account, please login.</a>
            </div>
            <div class="horizontal-flex">
                <button type="submit" class="btn btn-primary">REGISTER</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
